.dashboard ul {
  padding: 0px;
}

.dashboard li {
  list-style: none;
  margin-top: 10px;
  border-radius: 5px;
}

.dashboard {

  a {
    color: rgba(255,255,255,0.7);
  }
  a:hover {
    color:white;
    text-decoration: none;
  }
}

.green {
  color: green;
  font-weight: bold;
}

.orange {
  color: #e67e2e;
  font-weight: bold;
}

.white {
  color: white;
  font-weight: bold;
}

.add-ship {
  font-size: 120px;
  color: #e67e2e !important;
  font-weight: lighter;
}

.add-ship:hover {
  color:white !important;
}

.add:hover {
  color: white !important;
  border: 2px solid white;
}
