.dashboard ul {
  padding: 0px;
}

.dashboard li {
  list-style: none;
  margin-top: 10px;
  border-radius: 5px;
}

.dashboard-tabs {
  margin-bottom: 15px;
}

.dashboard {

  a {
    color: rgba(255,255,255,0.7);
  }
  a:hover {
    color:white;
    text-decoration: none;
  }
}

.green {
  color: green;
  font-weight: bold;
}

.orange {
  color: #e67e2e;
  font-weight: bold;
}

.white {
  color: white;
  font-weight: bold;
}

.add-ship {
  font-size: 120px;
  color: #e67e2e !important;
  font-weight: lighter;
}

.add-ship:hover {
  color:white !important;
}

.add:hover {
  color: white !important;
  border: 2px solid white;
}

.tab {
  overflow: hidden;
  border-bottom: 1px solid #e67e2e;
}

.tab button {
  background-color: inherit;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
}

.tab button:hover {
  background-color: #e67e2e;
  color: black;
}

.tab button.active {
  color: #e67e2e;
}

.tab button.active:hover{
  background-color: transparent;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;

  &.active {
    display: block;
  }

}
