#show-owner-details {
    display: flex;
    padding-left: inherit;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#show-owner-details img {
  border: 1px solid #e67e2e;
}

.spaceship-photo {
  border: 2px solid #e67e2e;
  border-radius:5px;
  width: 480px;
  overflow: hidden;
  object-fit: fill;
}

.spaceship-photo img {


  border-style: none;
  max-width:480px;
  max-height:100%;
}

.table {
  color: rgba(255,255,255,0.7);
}

.table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6;
    border: 1px solid #e67e2e;
}

.table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 2px;
    border-bottom-color: #e67e2e;
}
.review {
  padding: 10px;
  border: 1px solid #e67e2e;
  border-radius: 5px;
  margin-top: 5px;
}

.star-rating {
  color: #e67e2e;
}

.star-hover:hover {
  font-weight: bold;
}
.infos em{
font-size:14px;
color:white;
}
.smalltext{
  font-size:10px;
  color:white;
}
tr{
  font-size:20px;
}
td {
color:#e67e2e;
}
th {
  color:white;
}
