var acceptButton = document.getElementById('<%= @rental.id %>-accept');
acceptButton.style.display = 'none';
var rentalStatus = document.getElementById('<%= @rental.id %>-status')
rentalStatus.innerHTML = 'Status: <span class="green">Accepted</span>';
var declineButton = document.getElementById('<%= @rental.id %>-decline');
declineButton.innerHTML = 'Cancel';
