<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&auto=format&fit=crop&w=1033&q=80');">
  <div class="container">
    <h1>JabbaRentals provides the best choice of spacecrafts in the whole galaxy !</h1>
    <p>The renting of spaceships has never been so easy !</p>
    <%= link_to 'Rent a ship now', spaceships_path, class: "btn btn-secondary" %>
  </div>
</div>
