<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('https://external-preview.redd.it/hrE-GsUYoGLW77-tC-gVlqAf7qFpTe-uR3EhCwjBolM.jpg?auto=webp&s=d2f10d7225dfee63aeb0ef358206b24b974b80ad');">
  <div class="container">
    <div class="y-centered">
      <h1>JabbaRentals provides the best choice of refined spacecrafts in the whole galaxy !</h1>
      <p class="mb-5">Renting a spaceship has never been so easy...</p>
      <%= link_to 'Get your ship now!', spaceships_path, class: "btn btn-outline-warning mx-4" %>
    </div>
  </div>
</div>
