body {
  color: white;
  background-size: cover;
  background-position: center;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
}

h1, h2, h3 {
 font-family: 'Orbitron', sans-serif;
 font-style: bold;
 letter-spacing: 1px;
}

.container {
  width: 1200px;
  padding-top: 120px;
}
