body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('background-banner-space.jpg');
  color: white;
  background-size: cover;
  background-position: center;
}

.container {
  padding-top: 100px;
  width: 1000px;
}
