//Bouton du "Create spaceship "
.btna{
  border-radius:10px;
}
.bouton:hover{
  background-color: transparent;
  color: white;
  border-radius:10px;
}
//Form
.form-style{
  top: 0;
  color:#e67e2e;
  border: 2px solid #e67e2e;
  max-width: 600px;
  padding: 10px 20px;
  margin: 10px auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.calendar{
  max-width: 600px;
  color:#e67e2e;
  border: 2px solid #e67e2e;
  margin: 10px auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style select {
  font-family: Georgia, "Times New Roman", Times, serif;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  padding: 10px;
  width: 100%;
  margin-bottom: 30px;
}
.form-style a {
  margin-right: 0 auto;
  background-color: transparent; /* Green */
  border: 1px solid #e67e2e;
  color: #e67e2e;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:10px;
}
.form-style a:hover {
  background-color: #e67e2e; /* Green */
  border: 1px solid #e67e2e;
  color: white;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:10px;
}

.sticky-form{
  position: fixed;
  top:26%;
  right:10%;
}
//Champs du form
.input {
  // -webkit-appearance: menulist-button;
  // height:35px;
  // background-color: black ;
}
// Choisir le fichier
.photo-input {
  background-color: transparent !important;
}
.datepicker{
  background-color:transparent!important;
  // -webkit-appearance: menulist-button;
  // height:35px;
  // background-color: black !important;
}
h3 {
  color: #e67e2e;
}
