<%= simple_form_for([spaceship, review], remote: true) do |f| %>
  <div class="form-review-title">
    <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
  </div>
  <div class="form-review-content">
    <%= f.input :content, placeholder: "Give your opinion", :input_html => { :class => 'input' } %>
  </div>
  <div class="row justify-content-center">
    <%= f.button :submit, class: "btna btn-outline-warning" %>
  </div>
<% end %>
