<div class="review d-flex align-items-center">
  <%= cl_image_tag(User.find(review.user_id).photo, height: 50, width: 50, crop: :fill, class: 'avatar avatar-bordered') %>
  <div class="review-infos ml-4">
    <p class= "mb-0">
      <% review.rating.times do %>
      <i class="fas fa-star star-rating"></i>
      <% end %>
      <% (5 - review.rating).times do %>
      <i class="far fa-star star-rating"></i>
      <% end %></p>
    <p class= "mb-0"><%= review.content %></p>
  </div>
</div>
